//Разрешения для медиа-запросов
$extraSmall: 520px;
$small: 768px;
$medium: 960px;
$big: 1440px;


// //Цвета
$white: #ffffff;
$info: #0066B3;
$infoLigth: #098EDF;
$neutral10: #F6F8FC;
$neutral40: #CBD4E1;
$neutral50: #94a3b8;
$neutral60: #64748B;
$neutral70: #475569;
$neutral90: #27364B;
$error: #FF3A30;
$success10: #EFFBF2;
