.info-link {
  display: inline-block;
  fill: $info;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  &:hover {
    fill: $white;
    background-color: $info;
    & .info-link__title {
      display: block;
    }
  }
}

.info-link__title {
  position: absolute;
  display: none;
  background-color: $white;
  padding: 16px;
  border-radius: 10px;
  top: -80px;
  right: -70px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
  &::after {
    content: '\25B2';
    position: absolute;
    transform: rotate(180deg) scaleX(1.5);
    bottom: -13px;
    left: 19px;
    color: $white;
    text-shadow: 0 -6px 16px rgba(0, 0, 0, .7);
  }
  & :nth-child(2) {
    font-weight: 400;
    color: $neutral60;
    margin-top: 4px;
    display: inline-block;
  }
}

.info-link__title_down {
  top: 26px;
  right: -32px;
  display: none;
  &::after {
    transform: scaleX(1.5);
    bottom: 65px;
    left: 90px;
  }
}

